body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  font-size: 40px;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_main {
  height: 100vh;
  overflow: hidden;
  min-height: 1000px;
}

.section_tour-dates {
  padding: 60px;
}

.tour-dates_title {
  padding-bottom: 20px;
}

.splash-image {
  width: 100%;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 500px;
}

.social-icons_layout {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.social-icon {
  color: #ffffff;
  fill: currentColor;
  -webkit-transition: 0.2s color ease-out;
  transition: 0.2s color ease-out;
  width: 40px;
}

.bottom-arrow-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.social-icon:hover {
  color: #dbdbdb;
}

.tour-dates-wrapper {
  width: 100%;
}

/* Mobile */
@media only screen and (max-width: 780px) {
  .logo {
    position: initial;
    width: 300px;
    /* padding: 50px 0; */
  }
  .social-icons_layout {
    position: initial;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    width: 100%;
    height: auto;
  }

  .section_main {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    min-height: auto;
  }

  .splash-image_wrapper {
    height: auto;
  }

  .bottom-arrow-icon {
    display: none;
  }

  .section_tour-dates {
    padding: 10px;
  }
}
