body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}
main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

section {
  width: 100vw;
}

.section_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.splash-image {
  width: 100%;
}

.logo {
  position: absolute;
  top: -75px;
  left: 30px;
  width: 500px;
}

.social-icons_layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  box-sizing: border-box;
}

.social-icon {
  color: #ffffff;
  fill: currentColor;
  transition: 0.2s color ease-out;
  width: 40px;
}

.social-icon:hover {
  color: #dbdbdb;
}

/* Mobile */
@media only screen
and (max-device-width: 780px) {
  .logo {
    position: initial;
    width: 800px;
  }
  .social-icons_layout {
    position: initial;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .social-icon {
    padding: 0 10px;
    width: 90px;
  }
  .splash-image_wrapper {
    height: auto;
  }
}
